<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon"  type="image/x-icon" href="ico/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/style.css">
    <title>Andia</title>
</head>
<body>
    <!-- browser-sync start --server --directory --files "*" -->
    <header class="container " id="header">
        <div class="row">
            <a href="./index.html" class="col-3 col-sm-3 col-lg-2 offset-sm-1 offset-0 align-items-center logo">
                <img class="col-10 col-sm-12" width="165px"  src="img/logo.png">
            </a>
            <button class="offset-4 offset-sm-6 header-button" onclick="headerClick()"> 
                <svg>
                    <rect x="10" y="6" width="15" height="2"/>
                    <rect x="10" y="11" width="15" height="2"/>
                    <rect x="10" y="16" width="15" height="2"/>
                </svg>
            </button>
            <div class="col-sm-11 offset-sm-1 col-lg-5 col-xl-5 offset-lg-2 offset-xl-3 nav">
                <a href="./index.html" class="current">
                    <img src="ico//home-sm.png">
                    <p>HOME</p>
                </a>
                <a href="#">
                    <img src="ico/portfolio-sm.png">
                    <p>PORTFOLIO</p>
                </a>
                <a href="#">
                    <img src="ico/blog-sm.png">
                    <p>BLOG</p>
                </a>
                <a href="#">
                    <img src="ico/services-sm.png">
                    <p>SERVICES</p>
                </a>
                <a href="#">
                    <img src="ico/about-sm.png">
                    <p>ABOUT</p>
                </a>
                <a href="#">
                    <img src="ico/contact-sm.png">
                    <p>CONTACT</p>
                </a>
            </div>
            <span class="col-1"></span>
        </div>
    </header>
    <div class="block-slider">
        <div class="container">
            <div class="row">
                <div class="slider col-sm-12 col-md-9"  id="slider">
                    <div class="big-slider " >
                        <span class="slider-button-left" v-on:click="left"></span>
                        
                        
                        <transition name="slider">
                            <img class="col-12 big-img"  v-if="sm_imgs==1" src="img/slider/1.jpg">
                        </transition>
                        <p class=" slider-text " v-if="sm_imgs==1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime et obcaecati, illo porro ex provident nisi ipsam cupiditate quo! Quam, impedit veniam commodi dolores </p>
                        
                        
                        <transition name="slider">
                            <img class="col-12 big-img" v-if="sm_imgs==2" src="img/slider/2.jpg">
                        </transition>
                        <p class=" slider-text " v-if="sm_imgs==2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste magnam eum suscipit accusantium explicabo illum voluptatibus nisi pariatur deleniti, ipsa  </p>
                        

                        <transition name="slider">
                            <img class="col-12 big-img" v-if="sm_imgs==3" src="img/slider/3.jpg">
                        </transition>
                        <p class=" slider-text " v-if="sm_imgs==3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eveniet aspernatur repellendus minus error voluptatum nostrum velit, cupiditate architecto adipisci dolorem </p>
                        

                        <transition name="slider">
                            <img class="col-12 big-img " v-if="sm_imgs==4" src="img/slider/4.jpg">
                        </transition>
                        <p class=" slider-text  " v-if="sm_imgs==4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus spernatur repellendus minus error voluptatum nostrum velit, cupiditate architecto </p>
                        

                        <span class="slider-button-right" v-on:click="right"></span>
                    </div>
                    <div class="col-12 sm-imgs " id="sm-imgs">
                        <img class="col-3 sm-img" v-on:click="sm_imgs=1" src="img/slider/1.jpg" v-on:click="sm-img-first">
                        <img class="col-3 sm-img" v-on:click="sm_imgs=2" src="img/slider/2.jpg">
                        <img class="col-3 sm-img" v-on:click="sm_imgs=3" src="img/slider/3.jpg">
                        <img class="col-3 sm-img" v-on:click="sm_imgs=4" src="img/slider/4.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container block-benefits">
        
        <h1>We are <span>Andia</span>, a super cool design agency.</h1>
        <h3>We design beautiful websites, logos and prints. Your project is safe with us.</h3>
        <div class="row">
            <span class="col-sm-0 col-md-1 "></span>
            <div class="row col-sm-12 col-md-10">
                <div class="col-sm-12 col-md-3 benefits">
                    <div>
                        <img class="col-2 col-sm-1 col-md-4  col-lg-3" src="ico/eye.png">
                        <h4>BEAUTIFUL WEBSITES</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. Praesentium quae cum, non incidunt voluptas et...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 benefits">
                    <div>
                        <img class="col-2 col-sm-1 col-md-4 col-lg-3" src="ico/layout.png">
                        <h4>RESPONSIVE LAYOUT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. Praesentium quae cum, non incidunt voluptas et...</p>
                        <a href="#">Read more</a>
                    </div>  
                </div>

                <div class="col-sm-12 col-md-3 benefits">
                    <div>
                        <img class="col-2 col-sm-1 col-md-4 col-lg-3" src="ico/awesome.png">
                        <h4>AWESOME LOGOS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. Praesentium quae cum, non incidunt voluptas et...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 benefits">
                    <div>
                        <img class="col-2 col-sm-1 col-md-4 col-lg-3" src="ico/print.png">
                        <h4>HIGH RES PRINTS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. Praesentium quae cum, non incidunt voluptas et...</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <span class="col-sm-5 col-md-1 "></span>
        </div>

    </div>
    <div class="container block-latest">
        <div class="h1">
            <h1>Our Latest Work</h1>
        </div>
        <div class="row">
            <span class="col-sm-0 col-md-1 "></span>
            <div class="row col-sm-12 col-md-10">
                <div class="col-sm-12 col-md-3 latest">
                    <div>
                        <img class="col-12" src="img/slider/1.jpg">
                        <h4>BEAUTIFUL WEBSITES</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. </p>
                        <a href="#"><img class="col-10" src="ico/zoom2.png"></a>
                        <a href="#"><img class="col-10" src="ico/link2.png"></a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 latest">
                    <div>
                        <img class="col-12" src="img/slider/2.jpg">
                        <h4>RESPONSIVE LAYOUT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. </p>
                        <a href="#"><img class="col-10" src="ico/zoom2.png"></a>
                        <a href="#"><img class="col-10" src="ico/link2.png"></a>
                    </div>  
                </div>

                <div class="col-sm-12 col-md-3 latest">
                    <div>
                        <img class="col-12" src="img/slider/3.jpg">
                        <h4>AWESOME LOGOS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum. </p>
                        <a href="#"><img class="col-10" src="ico/zoom2.png"></a>
                        <a href="#"><img class="col-10" src="ico/link2.png"></a>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 latest">
                    <div>
                        <img class="col-12" src="img/slider/4.jpg">
                        <h4>HIGH RES PRINTS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, eius eum.</p>
                        <a href="#"><img class="col-10" src="ico/zoom2.png"></a>
                        <a href="#"><img class="col-10" src="ico/link2.png"></a>
                    </div>
                </div>
            </div>
            <span class="col-sm-5 col-md-1 "></span>
        </div>
    </div>

    <div class="container block-testimonials">
        <div class="h1">
            <h1>Testimonials</h1>
        </div>
        <div class="row">
            <span class="col-1"></span>
            <div class="testimonial testimonial-one testi-this col-9">

                <img class="col-sm-2 col-md-1" src="img/testimonials/1.jpg"> 
                
                <span class="col-sm-8 col-md-9 col-lg-10">
                    <p class="response">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae possimus tempora ab obcaecati fuga atque esse! Similique illum, tempora, hic cumque vitae debitis delectus, molestiae cupiditate praesentium illo ea eligendi."</p>
                    <p class="mail">sit_ame_consectetur.com</p>
                </span>
                
            </div>
            
            <div class="testimonial testimonial-two  col-9">

                <img class="col-sm-2 col-md-1" src="img/testimonials/1.jpg"> 
                
                <span class="col-sm-8 col-md-9 col-lg-10">
                    <p class="response">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, in rem? Molestias perferendis veritatis, eos perspiciatis, natus esse nihil molestiae a ipsam quo odit facere quis praesentium, porro iste doloribus?"</p>
                    <p class="mail">perferendis_veritati.ua</p>
                </span>
                
            </div>

            <div class="testimonial testimonial-three col-9">

                <img class="col-sm-2 col-md-1" src="img/testimonials/2.jfif"> 
                
                <span class="col-sm-8 col-md-9 col-lg-10">
                    <p class="response">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis expedita neque modi voluptatem. Molestiae, ex quod voluptates aliquam et, distinctio dignissimos, omnis qui repudiandae quaerat quos repellat sunt beatae doloremque!"</p>
                    <p class="mail">expedita_neque_modi.uk</p>
                </span>
                
            </div>

            <div class="testimonial testimonial-four col-9">

                <img class="col-sm-2 col-md-1" src="img/testimonials/3.png"> 
                
                <span class="col-sm-8 col-md-9 col-lg-10">
                    <p class="response">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem commodi cumque eos non quas sunt culpa nostrum, obcaecati, recusandae dolorum ipsam accusamus nisi alias quo laborum nam fugit aspernatur est."</p>
                    <p class="mail">quas_sunt_culpa.com</p>
                </span>
                
            </div>
        </div>
        <div class="testimonial-buttons row">
            <div class="testimonial-buttons col-3">
                <input class="col-1 buttons buttons-this" onclick="testimonials()" type="button" id="testimonials">
                <input class="col-1 buttons" onclick="testimonials()" type="button" id="testimonials">
                <input class="col-1 buttons" onclick="testimonials()" type="button" id="testimonials">
                <input class="col-1 buttons" onclick="testimonials()" type="button" id="testimonials">
            </div>
            <span class="col-2"></span>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
            
                <div class="col-sm-12 col-md-10 row">
                    <div class="col-sm-12 col-md-3 footer">
                        <h4>about us</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, eius repellendus saepe molestiae quisquam eaque doloribus fuga sit deserunt! Nam doloribus nihil animi voluptas unde vero corrupti sint voluptates et.</p>
                        <a href="#">Read more...</a>
                    </div>
                    <div class="col-sm-12 col-md-3 footer">
                        <h4>LATEST TWEETS</h4>
                        <p>Loading...</p>
                    </div>
                    <div class="col-sm-12 col-md-3 footer">
                        <h4>our team</h4>
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                        <img class="col-sm-1 col-md-4 col-lg-3" src="img/testimonials/1.jpg">
                    </div>
                    <div class="col-sm-12 col-md-3 footer contact">
                        <h4>CONTACT US</h4>
                        <div>
                            <img class="col-md-2 col-lg-1" src="ico/gps.png" width="20px">
                            <p class="col-9 col-lg-10"> Address: Lorem city, Ipsum street, 123 </p>
                        </div>
                        <div>
                            <img class="col-md-2 col-lg-1" src="ico/phone.png" width="20px">
                            <p class="col-9 col-lg-10">Phone: 123456789012 </p>
                        </div>
                        <div>
                            <img class="col-md-2 col-lg-1" src="ico/about-sm.png">
                            <p class="col-9 col-lg-10">Skype: Lorem_ipsum</p>
                        </div>
                        <div>
                            <img class="col-md-2 col-lg-1" src="ico/contact-sm.png">
                            <p class="col-9 col-lg-10">Email: quas_sunt_culpa.com </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <p class="col-sm-6 col-mg-7 col-lg-4 ">Copyright 2012 Andia - All rights reserved. Template by Azmind.</p>
                <span class="col-sm-5 col-md-4 col-lg-3">
                    <a href="#"><img class="col-sm-1" src="img/social-icons/email.png"></a>
                    <a href="#"><img class="col-sm-1" src="img/social-icons/facebook.png"></a>
                    <a href="#"><img class="col-sm-1" src="img/social-icons/skype.png"></a>
                    <a href="#"><img class="col-sm-1" src="img/social-icons/twitter.png"></a>
                </span>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="/vue.js"></script>
    <script src="/scripts.js"></script>
</body>
</html>